@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Lobster&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #35524A   ;
    --secondary-color: #627C85 ;
    --accent1-color: #779CAB;
    --accent2-color: #CEA07E;
    --accent3-color: #EB8258;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Lobster", impact, helvetica;
    --paragraph-font: "Lilita One", sans-serif, helvetica;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #35524A;  /* headlines on a white background */ 
    --headline-color-on-color: #EB8258; /* headlines on a colored background */ 
    --paragraph-color-on-white: #627C85; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #CEA07E; /* paragraph text on a colored background */ 
    --paragraph-background-color: #627C85  ;
    --nav-link-color: #779CAB;
    --nav-background-color: #35524A;
    --nav-hover-link-color: #CEA07E;
    --nav-hover-background-color: #779CAB;
}
#content {
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: var(--primary-color);
    grid-column: 1/11;
    grid-row: 4/9;
}
body {
    background-color: var(--secondary-color);
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 150px auto;
}
.book, .join {
    background-color: whitesmoke;
    color: var(--accent1-color);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: var(--accent1-color);
    color: var(--paragraph-color-on-color);
}
.msg {
    background-color: var(--primary-color);
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
footer {
    background-color: var(--primary-color);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-title {
    font-family: var(--heading-font);
    font-size: 2em;
    color: var(--headline-color-on-color);
    margin-top: 10px;
}
h4 {
    color: var(--headline-color-on-color);
}
.msg h2 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-color);
}
.msg p {
    color: var(--paragraph-color-on-color);
    font-size: .8em;
    padding-bottom: 15px;
}
footer a {
    color: var(--nav-link-color);
    text-decoration: none;
}
footer a:hover {
    color: var(--nav-hover-link-color);
}
.logo {
    width: 80px;
} 
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
p {
    font-family: var(--paragraph-font);
}
a {
    font-family: var(--paragraph-font);
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;;
}
.card-img {
    border: 10px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
main section img {
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-around;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.card-img, .mountains {
    width: 100%
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}
  
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
form li + li {
    margin-top: 1em;
}
  
label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
}
  
input,
textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
}
  
input:focus,
textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
}
  
textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
}
  
.button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
}
  
button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
}
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid, #title-banner, .rivers-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero, #title-banner {
        margin-top: 0;
    }
    #hero-msg, #banner-title {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title, .banner-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

/* Rivers Page */
#title-banner {
    width: 100%;
    margin: 0 auto;
}
#title-banner-img {
    width: 100%;
}
.rivers-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 50px;
}
.salmon-text {
    grid-column: 1/4;
    grid-row: 1/3;
}
.salmon-img {
    grid-column: 5/7;
    grid-row: 1/3;
}
#salmon-img {
    width: 100%;
}
.gray-canyon-text {
    grid-column: 3/7;
    grid-row: 3/5;
}
.gray-canyon-img {
    grid-column: 1/3;
    grid-row: 3/5;
}
#gray-canyon-img {
    width: 100%;
}
.grand-text {
    grid-column: 1/4;
    grid-row: 5/7;
}
.grand-img {
    grid-column: 5/7;
    grid-row: 5/7;
}
#grand-img {
    width: 100%;
}
#title-banner {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#banner-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#banner-title {
    grid-column: 2/3;
    grid-row: 1/2;
    font-family: var(--heading-font);
    font-size: 2em;
    color: var(--headline-color-on-color);
    margin-top: 10px;
    text-align: center;
}
.salmon-info-title {
    color: var(--accent2-color)
}
.gray-canyon-title {
    color: var(--accent2-color)
}
.grand-title {
    color: var(--accent2-color)
}
/* contact us */
