body {
    text-align: center;
}
nav {
    background-color: steelblue;
    padding: 10px;
}
#active {
    background-color: white;
    color: steelblue;
}
a {
    font-size: 1.5em;
    color: white;
    margin: 40px;
}
h1 {
    color: steelblue;
}
img {
    width: 80%;
    border: 4px solid steelblue;
}
p {
    width: 80%;
    padding: 10px;
}
.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0 auto;
}
footer {
    background-color: steelblue;
    color: white;
    text-align: center;
}
.center {
    text-align: center;
    margin: 0 auto;
}