@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Lilita+One&display=swap');


:root {
  /* change the values below to your colors from your palette */
  --primary-color: #396E94   ;
  --secondary-color: #5AAA95 ;
  --accent1-color: #D6C9C9;
  --accent2-color: #11151C;

  /* change the values below to your chosen font(s) */
  --heading-font: "Lilita One", sans-serif;
  --paragraph-font: "Gabarito" Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #396E94;  /* headlines on a white background */ 
  --headline-color-on-color: #D6C9C9; /* headlines on a colored background */ 
  --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #D6C9C9; /* paragraph text on a colored background */ 
  --paragraph-background-color: #396E94  ;
  --nav-link-color: #396E94;
  --nav-background-color: #5AAA95;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396E94;
}


nav a {
    text-align: center;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 35px;
    width: 100px;
    height: 50px;
}
nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    width: 150px;
    border: var(--secondary-color);
    border-style: solid;
    border-radius: 15px;
}
header {
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 150px auto;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
#content {
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;
}
#h-content {
    width: 100%;
    margin: 0 auto;
}
.buttons {
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.pricing-button {
    grid-column: 3/4;
}
.pricing-button, .contact-button{
    background-color: whitesmoke;
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--secondary-color);
}
.pricing-button:hover, .contact-button:hover {
    background-color: var(--accent2-color);
    color: var(--paragraph-color-on-color);
}
#main-grid {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
}
.main-pic {
    width: 100%;
    grid-column: 1/4;
}
h1 {
    color:var(--secondary-color);
}
p {
    color:var(--paragraph-color-on-white)
}
.second-pic {
    width: 100%;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.copy {
    grid-column: 1/5;
    grid-row: 2/3;
}
.social {
    grid-column: 4/7;
    grid-row: 1/2;
}
footer a {
    color: var(--primary-color);
}
footer a:hover {
    color: var(--accent1-color);
    background-color: var(--secondary-color);
}